<!-- lectures -->
<section id="lectures">

  <!-- panel -->
  <div class="panel panel-default">

    <!-- panel-heading -->
    <div class="panel-heading">
      <h3 class="panel-title"><%= t 'lecture.list' %></h3>
    </div> <!-- panel-heading -->

    <!-- panel-body -->
    <div class="panel-body">

      <!-- media list -->
      <ul class="media-list">
        <% lectures.each do |lecture| %>
        <li class="media lectures">
          <a class="pull-left" href="<%= lecture_path(lecture) %>">
            <%= image_tag(lecture.image.url(:medium), alt: lecture.name) %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to lecture.name, lecture_path(lecture) %></h4>
            <p class="level text-muted">
              <%= t('activerecord.attributes.lecture.level') %> :
              <%= t('activerecord.attributes.lecture.levels').at(lecture.level).at(0) %>
            </p>
            <p class="description"><%= lecture.description %></p>
          </div>
        </li>
        <% end %>
      </ul> <!-- media list -->
    </div> <!-- panel-body -->

    <!-- panel-footer -->
    <div class="panel-footer">
      <% if admin_user? %>
      <%= link_to t('lecture.new'), "/lectures/new/#{@course.id}" %>
      <% end %>
    </div> <!-- panel-footer -->

  </div><!-- panel -->
</section> <!-- lectures -->