<%= form_for @user, html: { role: "form" } do |f| %>

<div class="form-group <%= bs_validation(:name, @user) %>">
  <%= f.label(:name, t('user.name')) %>
  <%= f.text_field(:name, class: "form-control", placeholder: t('user.name_placeholder')) %>
  <%= bs_validation_icon(:name, @user) %>
  <%= bs_validation_message(:name, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:email, @user) %>">
  <%= f.label(:email, t('user.email')) %>
  <%= f.email_field(:email, class: "form-control", placeholder: t('user.email_placeholder')) %>
  <%= bs_validation_icon(:email, @user) %>
  <%= bs_validation_message(:email, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:phone, @user) %>">
  <%= f.label(:phone, t('user.phone')) %>
  <%= f.telephone_field(:phone, class: "form-control", placeholder: t('user.phone_placeholder')) %>
  <%= bs_validation_icon(:phone, @user) %>
  <%= bs_validation_message(:phone, @user.errors) %>
  <%= @user.read_attribute(:phone) %>
</div>

<div class="form-group <%= bs_validation(:password, @user) %>">
  <%= f.label(:password, t('user.password')) %>
  <%= f.password_field(:password, class: "form-control", placeholder: t('user.password_placeholder')) %>
  <%= bs_validation_icon(:password, @user) %>
  <%= bs_validation_message(:password, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:password, @user) %>">
  <%= f.label(:password_confirmation, t('user.password_confirm')) %>
  <%= f.password_field(:password_confirmation, class: "form-control", placeholder: t('user.password_confirm_placeholder')) %>
  <%= bs_validation_icon(:password_confirmation, @user) %>
  <%= bs_validation_message(:password_confirmation, @user.errors) %>
</div>

<%= f.button t('user.submit'), class: "btn btn-primary form-control" %>

<% end %>
