<%= form_for @user, html: { role: "form" } do |f| %>

<div class="form-group <%= bs_validation(:name, @user) %>">
  <%= f.label(:name, t('user.name')) %>
  <%= f.text_field(:name, class: "form-control input-lg", placeholder: t('user.name_placeholder')) %>
  <%= bs_validation_icon(:name, @user) %>
  <%= bs_validation_message(:name, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:email, @user) %>">
  <%= f.label(:email, t('user.email')) %>
  <%= f.email_field(:email, class: "form-control input-lg", placeholder: t('user.email_placeholder')) %>
  <%= bs_validation_icon(:email, @user) %>
  <%= bs_validation_message(:email, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:std_num, @user) %>">
  <%= f.label(:std_num, t('user.student.std_num')) %>
  <%= f.number_field(:std_num, class: "form-control input-lg", placeholder: t('user.student.std_num')) %>
  <%= bs_validation_icon(:std_num, @user) %>
  <%= bs_validation_message(:std_num, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:phone, @user) %>">
  <%= f.label(:phone, t('user.phone')) %>
  <%= f.telephone_field(:phone, class: "form-control input-lg", placeholder: t('user.phone_placeholder')) %>
  <%= bs_validation_icon(:phone, @user) %>
  <%= bs_validation_message(:phone, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:avatar, @course) %>">
  <%= f.label(:avatar, t('activerecord.attributes.user.avatar')) %>
  <%= f.file_field :avatar %>
  <% unless @user.image.url.include?(User::DEFAULT_AVATAR) %>
    <%= image_tag(@user.image.url, alt: @user.name) %>
  <% end %>
  <%= bs_validation_icon(:image, @course) %>
  <%= bs_validation_message(:image, @course.errors) %>
</div>

<div class="form-group <%= bs_validation(:password, @user) %>">
  <%= f.label(:password, t('user.password')) %>
  <%= f.password_field(:password, class: "form-control input-lg", placeholder: t('user.password_placeholder')) %>
  <%= bs_validation_icon(:password, @user) %>
  <%= bs_validation_message(:password, @user.errors) %>
</div>

<div class="form-group <%= bs_validation(:password_confirmation, @user) %>">
  <%= f.label(:password_confirmation, t('user.password_confirm')) %>
  <%= f.password_field(:password_confirmation, class: "form-control input-lg", placeholder: t('user.password_confirm_placeholder')) %>
  <%= bs_validation_icon(:password_confirmation, @user) %>
  <%= bs_validation_message(:password_confirmation, @user.errors) %>
</div>

<%= f.submit t('user.submit'), class: "btn btn-lg btn-form-control btn-primary" %>

<% end %>
