<!-- lesson-#id -->
<section class="lesson" id="lesson-<%= lesson.id %>">
  <!-- panel -->
  <div class="panel panel-default">

    <!-- panel-heading -->
    <div class="panel-heading">
      <h3 class="panel-title"><%= lesson.title %></h3>
    </div> <!-- panel-heading -->

    <!-- panel-body -->
    <div class="panel-body">
      <h4><%= t 'activerecord.attributes.lesson.description' %></h4>
      <div class="description">
        <p><%= lesson.description %><p>
      </div>
      <div class="body">
        <%= lesson.body.html_safe %>
      </div>
    </div> <!-- panel-body -->

    <!-- panel-footer -->
    <div class="panel-footer">
      <% if admin_user? %>
      <p>
        <%= link_to t('app.edit'), edit_lesson_path(lesson), class: 'btn btn-sm btn-primary' %>
        <%= link_to t('app.destroy'), lesson, method: :delete,
data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      </p>
      <% end %>
    </div> <!-- panel-footer -->

  </div><!-- panel -->
</section>