<h1>Listing example_answers</h1>

<table>
  <thead>
    <tr>
      <th>Example answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @example_answers.each do |example_answer| %>
      <tr>
        <td><%= example_answer.example_answer %></td>
        <td><%= link_to 'Show', example_answer %></td>
        <td><%= link_to 'Edit', edit_example_answer_path(example_answer) %></td>
        <td><%= link_to 'Destroy', example_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Example answer', new_example_answer_path %>
