<% provide(:title, t('app.course')) %>
<h1><%= t('course.list') %></h1>

<div class="row">
  <% @courses.each do |course| %>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <div class="thumbnail">
      <%= image_tag(course.image.url(:medium), alt: course.name) %>
      <div class="caption">
        <h3><%= course.name %></h3>
        <p><%= course.description %></p>
        <% if admin_user? %>
        <p>
          <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', course, method: :delete,
  data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </p>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% if admin_user? %>
  <%= link_to 'New Course', new_course_path %>
<% end %>