<footer class="footer container" id="footer">
  <div class="well">
    <div class="row">
      <div class="col-sm-4">
        <nav class="nav">
          <p><strong><%= t 'app.campany' %></strong></p>
        </nav>
      </div>

      <div class="col-sm-4">
        <nav class="nav">
          <p><strong><%= t 'app.policy' %></strong></p>
          <ul>
            <li><%= link_to t('app.terms_of_service'), "/terms", target: "_blank" %></li>
            <li><%= link_to t('app.privacy'), "/privacy", target: "_blank" %></li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-4">
        <nav class="nav">
          <p><strong><%= t 'app.contact' %></strong><p>
          <ul>
            <li><%= link_to(bs_icon_with_text(:envelope, t('app.email')), "mailto:#{t('app.email')}") %></li>
            <li><%= link_to(bs_icon_with_text(:phone, t('app.phone')), "tel:#{t('app.phone')}") %></li>
          </ul>
        </nav>
      </div>    

    </div>
  </div>
</footer>