<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'shared/analytics' %>
    <%= render 'shared/facebook_sdk' %>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
    </div>
  </body>
</html>
